.header
{
    background: linear-gradient(to left,#28a5f5,#1e87f0);
    padding:10px 0;
}
.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    content: "/";
    display: inline-block;
    margin-left:0px;
    margin-right:4px;
    font-size: .875rem;
    color: #999
}